/* Global */

* { 
  box-sizing: border-box;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open sans','Helvetica Neue', Helvetica, arial, sans-serif;
  color: #4a4a4a;
  background: #f7f6f5;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Default Text Styles */

a {
  text-decoration: none;
  color: #4a4a4a;
  transition: all .5s;
}

a:hover {
  color: #13acd1;
}

h1 {
  font-size: 25px;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 1em;
}

h2,
h4 {
  margin-bottom: 50px;
  font-size: 14px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 0;
  margin: 1.2em 0 0;
}

h5 {
  font-size: 14px;
  float: left;
  display: inline-block;
}

p {
  font-weight: 300;
}

img {
  width: 100%;
  height: auto;
}

/* Header Nav Styles */

header .nav {
  width: 100%;
  padding: 0 0 1em;
}

.nav li {
  font-size: 14px;
  text-transform: uppercase;
  list-style-type: none;
}

.nav a {
  font-weight: 700;
  line-height: 1.5em;
}

header .nav li a {
  width: 100%;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  background: #fff;
}

/* Profile */

.profile {
  margin-bottom: 1em;
}

.profile p {
  font-size: 16px;
  line-height: 1.5;
  color: #7f7f7f;
  margin-top: .3em;
}

.profile img {
  padding: 0 0 15px;
}

/* Porftolio */

.portfolio {
  background: #fff;
  display: inline-block;
  padding: 35px 15px 25px;
  margin: 0 -15px;
}

.portfolio p {
  font-size: 15px;
  line-height: 1.5em;
  padding: 0 10px 1.6em;
  margin-top: 12px;
}

/* Contact Information */

.contact {
  margin-top: 65px;
  margin-bottom: 20px;
  display: block;
}

.contact h4 {
  margin: 0 0 35px;
}

.contact p {
  color: #7f7f7f;
}

.phone-email {
  display: block;
  margin-top: 30px;
  margin-bottom:40px;
}

.phone-number,
.email-address {
  font-weight: 600;
  padding-left: 10px;
}

/* Columns */

.column {
  width: 100%;
}

/* Image Styles */

.profile img {
  width: 70%;
  height: auto;
}

/* Footer Styles */

footer {
  width: 100%;
  display: block;
}

footer .nav {
  border-top: 1px solid #e7e7e7;
  padding: 10px 0 40px;
}

#back-to-top {
  float: right;
  font-size: 13px;
  padding-top: 13px;
}

li.footer-link {
  display: none;
}


/*************************************
** iPad and Up Styles **
**************************************/

@media screen and (min-width: 768px) {
    
    .wrapper {
      max-width: 1024px;
      padding: 0 25px;
    }

    h1 {
      display: block;
      margin-top: 2em;
    }

    header .nav li {
      display: inline-block;
    }

    header .nav li a {
      background: transparent;
      padding: 5px 15px;
    }

    .portfolio {
      background: #fff;
      display: inline-block;
      padding: 2em 25px 5px;
      margin: 0 -25px;
    }

    .portfolio p {
      font-size: 15px;
      padding: 0 32px 3em;
      letter-spacing: .4px;
    }
    
    /* PROFILE */
    
    .profile {
      margin-bottom: 3em;
      margin-top: 1.5em;
    }

    .profile img {
      width: 290px;
      float: right;
      margin-left: 15px;
    }
    
    .profile p {
      font-size: 20px;
      text-align: left;
      margin-top: 0px;
    }

    .column {
      width: 50%;
      display: inline-block;
      float: left;
      padding: 0 6px;
    }
    
    .contact {
      display: inline-table;
      margin-top: 65px;
      margin-bottom: 10px;
    }
    
    .contact h4 {
      margin: 0 0 50px;
    }
    
    .contact p {
      font-size: 21px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    
    .phone-email {
      margin-top: 45px;
    }

    /* footer */
    
    footer .nav li {
      font-size: 13px;
      padding-left: 35px;
    }
    
    li.footer-link {
      display: inline-block;
      float: right;
      padding-left: 20px;
    }
    
    li#back-to-top {
      display: none;
    }

    footer .nav {
      padding: 23px 0 80px;
    }


}


/*************************************
** iPad Landscape and Up Styles **
**************************************/

@media screen and (min-width: 1024px) {

    .wrapper {
      max-width: 1600px;
      padding-left: 4em;
      padding-right: 4em;
    }

    header {
      padding: 38px 0 1em;
    }

    h1 {
      float: left;
      margin-top: 10px;
      margin-bottom: 0px;
    }

    header .nav {
      float: right;
      margin-right: 0px;
      padding-right: 0;
      display: inline-block;
      width: auto;
    }

    .profile {
      margin-top: -10px;
    }

    .profile img {
      width: 365px;
      margin-left: 35px;
      margin-top:5px;
    }
    
    .portfolio {
      padding: 3em 1em 5px;
      margin: 0 -30px;
    }

    .portfolio h2 {
      margin-bottom: 60px;
    }

    .portfolio p {
      padding: 0 10px 3em;
      letter-spacing: normal;
    }

    .column {
      width: 33.3333%;
      padding: 0 10px;
    }

    .contact {
      display: inline-table;
      margin-top: 57px;
      margin-bottom: 10px;
    }

    .contact h4 {
      margin: 0 0 40px;
    }

    .contact p {
      max-width: 65%;
    }

    .phone-email p {
      margin-bottom: -7px;
    }

    .phone-number,
    .email-address {
      font-weight: 800;
    }
    
    footer {
      margin-top: 2em;
    }

    footer .nav {
      padding: 23px 0 30px;
    }

}