/* Global */

* { 
  box-sizing: border-box;
  list-style-type: none;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  /*text-align: center;*/
  font-family: 'Open sans','Helvetica Neue', Helvetica, arial, sans-serif;
  color: #4a4a4a;
  background: #f4f5f6;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Default Text Styles */

a {
  text-decoration: none;
  color: #4a4a4a;
  transition: all .5s;
}

a:hover {
  color: #13acd1;
}



h2,
h4 {
  margin-bottom: 50px;
  font-size: 14px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 0;
  margin: 1.2em 0 0;
}

h5 {
  font-size: 14px;
  align-self: center;
}

p {
  font-weight: 300;
}

img {
  width: 100%;
  height: auto;
}

/* --------------------------
    Main Header Nav Styles 
---------------------------*/

.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding: 0 0 1em;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: .5em;
  align-self: center;
}

.nav {
  padding: 0 0 0;
}

.nav a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  text-align: center;
  /*line-height: 1.5em;*/
}

.nav a:hover {
  background: #56b3de;
  color: #fff;
}

/* --------------------------
    Profile Styles 
---------------------------*/

.profile {
  margin-bottom: 1em;
  text-align: center;

}

.profile p {
  font-size: 16px;
  line-height: 1.5;
  color: #7f7f7f;
  margin-top: .3em;
}

.profile img {
  padding: 0 0 15px;
  width: 70%;
  height: auto;
}

/* --------------------------
  Portfolio Columns Styles 
---------------------------*/

.column {
  width: 100%;
}

.portfolio {
  background: #fff;
  display: inline-block;
  padding: 35px 15px 25px;
  margin: 0 -15px;
  text-align: center;
}

.portfolio p {
  font-size: 15px;
  line-height: 1.5em;
  padding: 0 10px 1.6em;
  margin-top: 12px;
}

/* --------------------------
    Contact Information 
---------------------------*/

.contact {
  margin-top: 65px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.contact h4 {
  margin: 0 0 35px;
}

.contact p {
  color: #7f7f7f;
}

.phone-email {
  display: block;
  margin-top: 30px;
  margin-bottom:40px;
}

.phone-number,
.email-address {
  font-weight: 600;
  padding-left: 10px;
}

/* --------------------------
    Footer Styles 
---------------------------*/

footer,
footer nav {
  display: flex;
}

footer {
  flex-direction: row; /* instead of column */
  border-top: 1px solid #e7e7e7;
  height: 70px;
}

h5 {
  margin: 0 0 0 0;
  margin-right: auto;

}

footer .nav { 
  margin: 0 0 0 0;
  align-self: center;
  padding: 0 0 0;
}

footer .nav a {
  padding: 0;
  background: none;
  margin-bottom: 0;
}

#back-to-top a {
  font-size: 13px;
}

li.footer-link {
  display: none;
}


/* --------------------------
    Media Queries
---------------------------*/

@media screen and (min-width: 768px) {
    
    .wrapper {
      max-width: 1024px;
      padding: 0 25px;
    }

    .main-header {
      justify-content: flex-end;
      padding: 2em 0 0.5em
    }

    h1 {
      
    }

    .nav {
      flex-direction: row;
      justify-content: center;
      padding-bottom: 0;
    }

    .nav a {
      background: transparent;
      padding: 4px 1.25em;
    }


    .portfolio {
      background: #fff;
      display: inline-block;
      padding: 2em 25px 5px;
      margin: 0 -25px;
    }

    .portfolio p {
      font-size: 15px;
      padding: 0 32px 3em;
      letter-spacing: .4px;
    }
    
    /* PROFILE */
    
    .profile {
      margin-bottom: 3em;
      margin-top: 1.5em;
    }

    .profile img {
      width: 290px;
      float: right;
      margin-left: 15px;
    }
    
    .profile p {
      font-size: 20px;
      text-align: left;
      margin-top: 0px;
    }

    .column {
      width: 50%;
      display: inline-block;
      float: left;
      padding: 0 6px;
    }
    
    .contact {
      display: inline-table;
      margin: 50px 0 20px;
    }
    
    .contact h4 {
      margin: 10px 0 50px;
    }
    
    .contact p {
      font-size: 21px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    
    .phone-email {
      margin-top: 50px;
    }

    /* footer */
    footer {
      padding: 2.250em 0 5.5em;
    }

    footer .nav a {
      font-size: 13px;
    }
    
    li.footer-link {
      display: inline-block;
      padding: 0 1em;
      /*float: right;
      padding-left: 20px;*/
    }
    
    li#back-to-top {
      display: none;
    }

    footer .nav {
      /*padding: 23px 0 80px;*/
    }


}

@media screen and (min-width: 1024px) {

    .wrapper {
      max-width: 1600px;
      padding-left: 4em;
      padding-right: 4em;
    }

/*
Giving .main-header a justify-content: space-between; declaration will also 
align the logo to the left side of the header while pushing the nav to the right.

With this method, there's no need to target .site-logo and declare margin-right: * auto;

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
*/


    .main-header {
      flex-direction: row; /* instead of column */
      padding: 3.4em 0;
    }

    h1 {
      margin: 0 0 0 0;
      margin-right: auto;
    }

    .nav {
      margin: 0 0 0 0;
      align-self: center; /* sets it vertically in parent */
    }

    .nav li {
      margin-left: .65em;
      margin-right: .65em;
      padding: 0px 0px;
    }

    .nav a {
      margin-bottom: 0px;
      padding: 4px 0 0 1.25em
    }

    .profile {
      margin-top: -10px;
    }

    .profile img {
      width: 365px;
      margin-left: 35px;
      margin-top:5px;
    }
    
    .portfolio {
      padding: 3em 1em 5px;
      margin: 0 -30px;
    }

    .portfolio h2 {
      margin-bottom: 60px;
    }

    .portfolio p {
      padding: 0 10px 3em;
      letter-spacing: normal;
    }

    .column {
      width: 33.3333%;
      padding: 0 10px;
    }

    .contact {
      width: 100%;
      margin-top: 57px;
      margin-bottom: 10px;
    }

    .contact h4 {
      margin: 0 0 40px;
    }

    .contact p {
      max-width: 65%;
    }

    .phone-email p {
      margin-bottom: -7px;
    }

    .phone-number,
    .email-address {
      font-weight: 800;
    }
    
    footer {
      margin-top: 2em;
    }

    footer .nav {
      padding: 23px 0 30px;
    }

}